@tailwind base;
@tailwind components;
@tailwind utilities;

.triangle {
  position: absolute;
  bottom: 6rem;
  width: 0;
  height: 0;
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  border-left: 70px solid #ebefff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidescrollbar::-webkit-scrollbar {
  display: none;
}

.underlined::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: black;
  bottom: -2px;
  left: 0;
}
.underlined-hover::after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  background: black;
  bottom: 7px;
  left: 0;
  transition: width 0.3s ease;
}
.underlined-hover:hover::after {
  width: 100%;
}

.hide-scroll::-webkit-scrollbar {
  display: none;
}

.highlight-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: rgb(0, 221, 255);
  bottom: -13px;
  left: 0;
}

/* body {
  scroll-snap-type: y mandatory;
  background-image: linear-gradient(
      346deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 22%,
      rgba(140, 140, 140, 0.04) 22%,
      rgba(140, 140, 140, 0.04) 69%,
      rgba(0, 0, 0, 0.04) 69%,
      rgba(0, 0, 0, 0.04) 100%
    ),
    linear-gradient(
      31deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 42%,
      rgba(140, 140, 140, 0.04) 42%,
      rgba(140, 140, 140, 0.04) 85%,
      rgba(0, 0, 0, 0.04) 85%,
      rgba(0, 0, 0, 0.04) 100%
    ),
    linear-gradient(
      55deg,
      rgba(55, 55, 55, 0.04) 0%,
      rgba(55, 55, 55, 0.04) 13%,
      rgba(140, 140, 140, 0.04) 13%,
      rgba(140, 140, 140, 0.04) 72%,
      rgba(0, 0, 0, 0.04) 72%,
      rgba(0, 0, 0, 0.04) 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
} */
